<h2>About Us!</h2>
<p> Welcome to Dev Match. We are a community of developers, entrepreneurs and investor who are intrested in meeting one another and sharing ideas.</p>
<%= image_tag("james_bond.jpg", :alt => "Bond with the best!") %>
