.user-show-avatar {
  height: 390px;
  width: 260px;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}
.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
  text-align: justify;
} 
.well.contact-info { 
  background-color: #5bc0de;
  border-color: #46b8da;
}
.user-index-avatar {
    border-radius: 50%;
}

.well.white-bg {
  background-color: white;
}
.layout_background{
  opacity: 1;
  //background-image: -webkit-linear-gradient(left, rgb(236, 233, 230), rgb(255, 255, 255));
  background-image: -webkit-linear-gradient(left, rgb(185, 147, 214), rgb(140, 166, 219));
  background-color: rgb(255, 255, 255);
}
.header_login{
  height: 90px;
  margin: 0 auto;
  padding-top: 50px;
 // width: 0px;
}
.avatar-Container{
  border: 5px solid red;
  border-size: 128px;
  border-height: 128px;
}